.DS_Store
*.swp
*.iml
.idea/
.sass-cache
.rvmrc

node_modules
npm-debug.log

# ignore generated javascript - recreated by running grunt

# don't ignore so npm install from repo works...
# lib/*.js
# test/*.js
# client/*js
