.DS_Store
*.swp
*.iml
.idea/
.sass-cache
.rvmrc

node_modules
npm-debug.log


# ignore generated javascript - recreated by running build
client/client.js
client/client.js.map
client/test/testclient.js
client/test/testclient.map
