<!DOCTYPE html>
<html class='no-js'>
  <head>
    <title>{{title}}</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
    <meta content='width=device-width, height=device-height, initial-scale=1.0, user-scalable=no' name='viewport'>
    <link id='favicon' href='/favicon.png' rel='icon' type='image/png'>

    <link href='/style/style.css' rel='stylesheet' type='text/css' media='screen'>
    <link href='/theme/style.css' rel='stylesheet' type='text/css' media='screen'>
    <link href='/style/print.css' rel='stylesheet' type='text/css' media='print'>
    <link href='/js/jquery-ui/1.13.2/jquery-ui.min.css' rel='stylesheet' type='text/css'>

    <script src='/js/jquery-3.6.3.min.js' type='text/javascript'></script>
    <script src='/js/jquery-migrate-3.4.0.min.js' type='text/javascript'></script>
    <script src='/js/jquery-ui/1.13.2/jquery-ui.min.js' type='text/javascript'></script>
    <script src='/js/jquery.ui.touch-punch.min.js' type='text/javascript'></script>
    <script src='/js/underscore-min.js' type='text/javascript'></script>

    <script src='/client.js' type='text/javascript'></script>
  </head>
  <body>
    <section class='main'>
      {{#pages}}
      <div class='page' id='{{page}}' tabindex="-1" {{{origin}}} {{{generated}}}>
        <div class='paper'>
          {{{story}}}
        </div>
      </div>
      {{/pages}}
    </section>
    <footer>
      <div id='site-owner' class='footer-item'>
        {{#owned}}
          Site Owned by: <span id='site-owner' style='text-transform:capitalize;'>{{ownedBy}}</span></div>
        {{/owned}}
      </div>

      <div id='security' class='footer-item'></div>

      <span class='searchbox' class='footer-item'>
        &nbsp;
        <input class='search' name='search' type='text' placeholder="Search">
        &nbsp;
        <span class='pages'></span>
      </span>

      <span class='neighborhood'></span>
    </footer>

  <script>
  var isAuthenticated = ('{{authenticated}}' === "true");
  var isClaimed = ('{{owned}}' === "true");
  var isOwner = ('{{isOwner}}' === "true");
  var ownerName = '{{ownedBy}}';
  var seedNeighbors = '{{seedNeighbors}}';
  var user = '{{user}}'
  wiki.security(user);
  </script>
  </body>
</html>
